.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    border-radius: 5px;
    text-align: center; 
   
  }

  .services .icon i {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 15px;
    color: #ef7f4d;
  }
  .services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  .services .title a {
    color: #111;
  }
  .services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  h2 a{
      text-decoration: none;
  }
  .section-bg{
    background-color: rgb(35, 110, 145);
  }

  #pricing{
    background-color: rgb(78, 109, 194);
  }
  .section-title h2{
    color:#ffffff;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 70px;
  }
  .clear{
    clear:both;
  }
  
  
  .pricing .box {
      padding: 20px;
      background: #fff;
      text-align: center;
      border-radius: 8px;
      position: relative;
      overflow: hidden;
      margin-top:50px;
    }
    .pricing .box h3 {
      font-weight: 400;
      padding: 15px;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      color: #2d405f;
    }
    .pricing .box h4 {
  
     font-weight: 500;
      font-family: "Open Sans", sans-serif;
   
    }
    .pricing .box h4 sup {
      font-size: 20px;
      top: -15px;
      left: -3px;
    }
    .pricing .box h4 span {
      color: #bababa;
      font-size: 16px;
      font-weight: 300;
    }
    .pricing .box ul {
      padding: 0;
      list-style: none;
      color: #2d405f;
      text-align: center;
      line-height: 20px;
      font-size: 14px;
    }
    .pricing .box ul li {
      padding-bottom: 16px;
    }
    .pricing .box ul i {
      color: #3b4ef8;
      font-size: 18px;
      padding-right: 4px;
    }
    .pricing .box ul .na {
      color: #ccc;
      text-decoration: line-through;
    }
    .pricing .box .btn-wrap {
      padding: 15px;
      text-align: center;
    }
    .row{
      margin-bottom: 50px;
    }
    .pricing .box .btn-buy {
      background: #eceefe;
      color: #3b4ef8;
      display: inline-block;
      padding: 10px 40px 12px 40px;
      border-radius: 5px;
      transition: none;
      font-size: 14px;
      font-weight: 400;
      font-family: "Krub", sans-serif;
      font-weight: 600;
      transition: 0.3s;
    }
    .pricing .box .btn-buy:hover {
      background: #3b4ef8;
      color: #fff;
    }
    .pricing .featured {
      background: #0b0e11;
      box-shadow: none;
   
    }
    .pricing .featured h3, .pricing .featured h4, .pricing .featured h4 span, .pricing .featured ul, .pricing .featured ul .na {
      color: #fff;
    }
    .pricing .featured .btn-buy {
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
    }
    .pricing .featured .btn-buy:hover {
      background: #fff;
      color: #4e6fa4;
    }

    .featured-services .icon-box {
        padding: 30px;
        position: relative;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
        transition: all 0.3s ease-in-out;
        border-radius: 8px;
        z-index: 1;
       
      }
      .featured-services{
        margin-top:70px
      }
      .featured-services .icon-box::before {
        content: "";
        position: absolute;
        background: #d9f1f2;
        right: 0;
        left: 0;
        bottom: 0;
        top: 100%;
        transition: all 0.3s;
        z-index: -1;
      }
      .featured-services .icon-box:hover::before {
        background: #3fbbc0;
        top: 0;
        border-radius: 0px;
      }
      .featured-services .icon {
        margin-bottom: 15px;
      }
      .featured-services .icon i {
        font-size: 48px;
        line-height: 1;
        color: #3fbbc0;
        transition: all 0.3s ease-in-out;
      }
      .featured-services .title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
      }
      .featured-services .title a {
        color: #111;
        text-decoration: none;
      }
      .featured-services .description {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 0;
      }
      .featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
        color: #fff;
      }
      .featured-services .icon-box:hover .icon i {
        color: #fff;
      }
      .section-title{
          text-align: center;
    
      }
     
     
    